*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.price-section{
  margin-block: 50px 25px;
  padding-block: 20px 25px;
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  /* background-color: aqua; */
}
.sec-head{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin-block: 10px 20px;
  color:rgb(51, 51, 51);
  font-size: 50px;
  text-align: center;
}
.pricing-container{
  /* background-color: aqua; */
  padding: 30px;
  margin-bottom: 35px;
  display: flex;
  gap: 40px;
  justify-content: center;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  gap: 32px;
  margin-bottom: 48px; */
}

.plan-card{
  padding:20px 40px;
  border: 1.5px solid rgb(186, 186, 186);
  text-align: center;
  width: 350PX;
  height: 55vh;
}

.price-section {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.section-header-inner {
  display: inline-block;
}

.above-line {
  width: 100px;
  height: 10px;
  background-color: rgb(209, 42, 16);
  margin: 0 auto;
  transition: width 2s ease-in-out
  /* transform: translateY(-10px);
  animation: 0.7s ease-in-out forwards; */
}

.plan-title{
  color: rgb(51, 51, 51);
  font-size: 23px;
  font-weight: 400;
  margin-block: 25px 20px;
}

.plan-card .price{
  margin-block: 15px;
  font-size: 45px;
}

.pricing-features{
  margin-block: 25px;
  font-size: 17px;
  line-height: 37px;
  font-weight: 400;
}

.highlighted {
  border:1.5px solid rgb(209, 42, 16);
  height: 60vh;
}

.pricing-button {
  border:1.5px solid rgb(209, 42, 16);
  padding: 18px 35px;
  cursor: pointer;
  color: rgb(209, 42, 16);
  background-color: rgb(255, 255, 255);
}

.highlighted .pricing-button {
  background-color: rgb(209, 42, 16);
  color: rgb(255, 255, 255);
}

.highlighted .pricing-button:hover{
  background-color: rgb(255, 34, 0);
}

.see-more-btn{
  border: 1px solid rgb(209, 42, 16);
  color: rgb(209, 42, 16);
  padding: 18px 35px;
  cursor: pointer;
  font-size: 17px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.see-more-btn:hover{
  background-color: rgb(245, 75, 49);
  color: rgb(255, 255, 255);
}

