*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Manrope', sans-serif;
  font-weight: 200;
}

.sec-head{
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  color: aqua;
}
